@charset "UTF-8";
/*Created By AbdAlla-AboElMagd*/
@font-face
{
font-family:arabicimport;
src:url("arabic.otf");
}

header, main, footer {
display: block;
}

html , body , main , button {
padding: 5px
}


body{
font-family:arabicimport;
margin-left:auto;
margin-right:auto;

text-align: right;

}

.submitbutton{
    background-color: #1A1423;
    border: 2px solid #774C60;
    padding: 10px;
    color: #EACDC2 ;
    
}

