
/*Created By AbdAlla-AboElMagd*/
@charset "utf-8";
@font-face
{
font-family:arabicimport;
src:url("arabic.otf");
}

header, main, footer {
display: block;
}

html , body , main , button {
padding: 5px
}


body{
font-family:arabicimport;
margin-left:auto;
margin-right:auto;

text-align: right;

}

.submitbutton{
    background-color: #3B94D9;
    border: 2px solid #EFF7FA;
    color: white ;
    padding: 10px;
    float:left;
}

