@charset "UTF-8";
/*Created By AbdAlla-AboElMagd*/
@font-face
{
font-family:arabicimport;
src:url("arabic.otf");
}
header, main, footer {
display: block;
}

html , body , header, main, footer , h1 , h2 , p {
padding: 4px;
margin: 0px ;
}


body{
font-family:arabicimport;
background-color : white ;
margin-left:auto;
margin-right:auto;
font-size:30px;
width: 1000px;

}

header{
background-color :white ;
color : white ;
margin-left:auto;
margin-right:auto;
font-size:30px;
width:100px;
height:100px;
text-align:center;
}

main{
font-family:arabicimport;
background-color : lightgray ;
margin-left:auto;
margin-right:auto;
font-size:30px;
height: 550px;
width: 50%;
border-radius:50px;
text-align:center;
}



.button {
font-family:arabicimport;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
	border-color: #774c60;
	background-color: #1a1423;
    	color: #eacdc2;
	font-size:20px;
	float :left;
	position:relative;
	top:90px;

	
}
input{
font-family:arabicimport;
	width:300px;
	height:30px;
	border: none;
    border-bottom: 2px solid #774c60;
	background-color: #1a1423;
    color: #eacdc2;
	font-size:20px;
	text-align:right;
}

table{
	width:100%;
	height:300px;
	margin-left:auto;
	padding:20px;
    
}
th{
	text-align: right;
}