/* 
sidebar colors pallet

 #372549 --> main color
--Accents--
#1A1423
#774C60
#B75D69 -->sign out accent
#EACDC2 
*/
@font-face{
    font-family: "arabic";
    src:url(/fonts/arabic.otf);
}
.sitebar{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}



.navbar{
    position: fixed;
    left: 0;
    height: 100%;
    text-align: center;
    width: 70px;
    background-color: rgb(55,37,73);
    z-index: 10;
}

.fab{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #F76175;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}